Repository ASKnetCommunity/Training, pull requests merged in 2024-01, with the labels that each got.

#190 Dynamic links and cache
  _layouts/module.html
  _sass/_progressbar.sass
  _sass/main.sass
  _sass/trainingsplan-print.sass
  _sass/trainingsplan.sass
  assets/css/font-josefin-sans.min.css.map
  assets/css/font-noto-sans-jp.min.css.map
  assets/css/font-noto-sans.min.css.map
  assets/css/font-poppins.min.css.map
  assets/css/main.min.css
  assets/css/main.min.css.map
  assets/css/trainingsplan-print.min.css
  assets/css/trainingsplan-print.min.css.map
  assets/css/trainingsplan.min.css
  assets/css/trainingsplan.min.css.map
  assets/js/dynamicLinks.js
  assets/js/modules.js
  assets/js/trainingsplan.js
  index.html
  training.html
Labels: feature, prio1, CSS/HTML, JavaScript, Jekyll, work-in-progress

#195 fix: cache issues
  assets/js/trainingsplan.js
  training.html
Labels: bug, CSS/HTML, JavaScript

#193 Release candidate 1.2 UI changes and new dynamic links, including caching
  _layouts/default.html
  _layouts/module.html
  _layouts/trainingsplan.html
  _sass/_progressbar.sass
  _sass/main.sass
  _sass/trainingsplan-print.sass
  _sass/trainingsplan.sass
  assets/css/font-josefin-sans.min.css.map
  assets/css/font-noto-sans-jp.min.css.map
  assets/css/font-noto-sans.min.css.map
  assets/css/font-poppins.min.css.map
  assets/css/main.min.css
  assets/css/main.min.css.map
  assets/css/trainingsplan-print.min.css
  assets/css/trainingsplan-print.min.css.map
  assets/css/trainingsplan.min.css
  assets/css/trainingsplan.min.css.map
  assets/js/dynamicLinks.js
  assets/js/modules.js
  assets/js/trainingsplan.js
  index.html
  training.html
Labels: feature, prio1, documentation, content-submit, CSS/HTML, JavaScript, Jekyll, work-in-progress
